/* ROOT VARIABLES */
:root {
  --navbar-pink: #FDF3F1;
  --brand-pink: #F7ADAF;
  --brand-blue: #00AFEF;
  --footer-gray: #f9f9f9;
}

/* BODY DEFAULTS */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Calibri', sans-serif;
  font-size: 1rem;
  color: black;
  margin: 0;
}

/* NAVBAR */
.container-fluid {
  width: 100%;
  margin: 0;
}

.container {
  margin: 1rem;
}

.navbar-pink {
  background-color: var(--navbar-pink);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.spread-contents {
  justify-content: space-between;
}

#navbar {
  border-bottom: 1px solid var(--brand-pink);
  padding: 0 1rem;
  height: 3.5rem;
}

/* MENU CLOSE BUTTON */
#nav-menu {
  color: #444;-
  font-family: 'Calibri', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 100;
}

#nav-menu .close-btn i {
  font-family: 'Calibri';
  font-size: 2rem;
  font-style: normal;
  font-weight: 100;
}

/* BRAND LOGO */
.brand-logo-link {
  display: inline-block;
}

.brand-img {
  flex:  1 1 auto;
  width: 7rem;
}

/* NAV MENU */
.no-style {
  list-style-type: none;
}

.no-style a {
  text-decoration-line: none;
  color: inherit;
}

.no-decoration {
  text-decoration: none;
}

.no-list-padding {
  padding-inline-start: 0;
}

.nav-link {
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.menu-container ul {
  margin: 1rem auto;
}

/* SEARCH BAR */
.shadow {
  box-shadow: 0 .071rem .286rem rgba(29,29,29,.35);
}

#search {
  height: 2rem;
  border-radius: 5px;
}

#search-bar {
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  flex: 1 1 auto;
  width: 15rem;
  border: 3px solid white;
  border-right: none;
  border-left: none;
  transition: width 0.2s;
  padding: 0 0.5rem;

}

#search-bar:focus {
  outline: none;
  border-bottom: 3px solid var(--brand-pink);
}

#search-button, #close-button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background: #b4b4b4;
  flex: 1 1 auto;
  max-width: 3rem;
}

#close-button {
  display: none;
}

#search-button:hover, #close-button:hover {
  background-color: #949494;
}
/* ----------------------------------------------------- */

/* MAIN BODY */
/* JUMBUTRON */
.jumbutron {
  background-color: rgb(226, 214, 226);
  background: linear-gradient(rgb(226, 214, 226) 50%, 
                              rgb(253, 232, 231) 50%, 
                              rgb(253, 232, 231) 70%, 
                              rgb(253, 243, 242) 70%, 
                              rgb(253, 243, 242) 91%, 
                              rgb(253, 232, 231) 91%,
                              rgb(253, 232, 231) 100%);
}

.jumbutron img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* ITEM TILES */
.text-center {
  text-align: center;
}

.auto-side-margin {
  justify-content: center;
}

.margin-top {
  margin-top: 1rem;
}

.brand-blue {
  color: var(--brand-blue);
}

.item-tile {
  height: 22rem !important;
  width: 12rem !important;
  text-align: center;
  margin: 0 1rem 1rem 1rem;
}

.item-tile:hover {
  box-shadow: 0 .071rem 1rem rgba(29,29,29,.35);
}

.item-img a {
  display: inline-block;
}

.item-img img {
  height: 70%;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.item-info {
  height: 30%;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.item-description {
  height: auto;
}

.item-price {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

.gray {
  color: #555;
}
/* ----------------------------------------------------- */

/* FOOTER */
footer div.container {
  padding: 1rem 1rem;
  margin: 0;
}

.footer-gray {
  background-color: var(--footer-gray);
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-link {
  line-height: 1.75rem;
}

.footer-link:hover {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.fa {
  font-size: 1.75rem !important;
  line-height: 1.05rem !important;
  width: 1.05rem;
  text-align: center;
  border-radius: 3px;
}

.fa-twitter:hover {
  background-color: #00acee;
  color: white;
  transition: color 0.1s;
  text-decoration: none;
}

.fa-facebook:hover {
  background-color: #3b5998;
  color: white;
  transition: all 0.1s;
  text-decoration: none;
}

.fa-whatsapp:hover {
  background-color: #4fce5d;
  color: white;
  transition: color 0.1s;
  text-decoration: none;
}

/* DESKTOPS AND LAPTOPS */
@media screen and (min-width: 992px) {
  .col-lg-3 {
    width: 33.33333%;
  }

  /* NAV */
  #navbar {
    position: fixed;
    top: 0;
  }

  /* MENU BUTTON */
  #menu-button {
    display: none;
  }
  
  /* NAV MENU */
  #nav-menu {
    display: block;
    position: relative;
    flex: 1 1 auto;
    padding: 0 5%;
  }

  #nav-menu ul {
    margin-top: 1rem;
  }

  #close-btn {
    visibility: hidden;
    position: absolute;
    right: 1rem;
    top: 0;
    line-height: 1.5rem;
  }

  .flex-lg-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  #search-bar:focus {
    transition: all 0.2s;
  }

  #search-button-sm {
    display: none;
  }

  /* MAIN BODY */
  main {
    margin-top: 4.5rem !important;
  }
}

/* TABLETS */
@media screen and (max-width: 991px) {

  .flex-md-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .flex-md-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .col-md-3 {
    width: 33.33333%;
  }

  /* NAV MENU */
  #menu-button {
    display: block;
    position: absolute; 
  }

  #menu-button button {
    background-color: inherit;
    padding: 6px;
    border: 1px solid #ccc;
  }

  .brand-logo {
    visibility: visible;
    margin: auto;
  }

  #nav-menu {
    position: absolute;
    top: 0;
    left: 0rem;
    height: 100%;
    border-right: 1px solid #ccc;
    background-color: white;
    width: 0;
    transition: width 0.3s;
  }

  .open-menu {
    width: 18rem !important;
    transition: width 0.3s;
  }

  .menu-container {
    margin-top: 4rem;
    overflow-y: auto;
    max-height: 60%;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }

  .menu-container ul {
    margin: 0;
  }

  #close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    line-height: 1.5rem;
  }

  #nav-menu .nav-link {
    font-size: 1rem;
    line-height: 1rem;
    padding: 1.1rem 14px;
    border-bottom: 1px solid #ccc;
    border-color: #ccc;
  }

  #search {
    position: absolute;
    right: 1rem;
  }

  #search-bar:focus {
    width: 25rem;
    transition: width 0.2s;
  }

  #search-button-sm {
    display: none;
  }
}


/* PHONES */
@media screen and (max-width: 700px) {
  .col-sm-1 {
    width: 100%;
  }

  .flex-sm-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .hidden {
    visibility: hidden;    
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
  }

  .brand-img {
    max-width: 7rem;
  }

  #search {
    visibility: hidden;
    position: absolute;
    width: 70%;
    left: 0;
    right: 0;
    margin: auto;
    transition: visibility 0.3s, width 0.3s;

  }

  .visible {
    visibility: visible !important;
  }

  .show {
    width: 95% !important;
    transition: width 0.3s;
  }
  #search-bar, #search-bar:focus {
    width: auto;
  }

  #search-button{
    border: none;
    border-radius: 0;
  }

  #close-button {
    display: inline-block;
  }

  .display {
    display: block !important;
  }

  #search-button-sm {
    position: absolute;
    right: 1rem; 
  }

  #search-button-sm button {
    background-color: inherit;
    border: 1px solid #ccc;
    padding: 6px;
  }
}


